<!--The content below is only a placeholder and can be replaced.-->
<!-- Player Status -->
  <h1> OTHELLO </h1>
<div class="header">
  <div id="status">Current Player:
    <span id="currentPlayer"></span>
  </div>
</div>
<!-- Marker Holder for White Team -->
<div class ="marker-holder white-marker-holder"></div>
<!-- Game Board -->
<table class="board"></table>
<br/>
<!-- Marker Holder for Black Team -->
<div class ="marker-holder black-marker-holder"></div>

<!-- Score Card -->
<div class="score-card">
  <div>
    <h4>Score:</h4>
    <table>
      <tr>
      <td><h5>Black</h5></td>
      <td><h5>White</h5></td>
      </tr>
      <tr>
        <td class="blackScore">0</td>
        <td class="whiteScore">0</td>
      </tr>
    </table>
  </div>
</div>
